.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background: #f0f0f0;
    text-align: center;
}

.highlight {
    font-family: Inter Tight;
    color: blue;
}

.hero {
    max-width: 75vw;
    /* font-family: Inter; */
}

.hero h1 {
    font-size: 80px;
}

.hero h2 {
    font-family: sans-serif;
    color: #757575;
}

.hero h4 {
    font-family: sans-serif;
    color: #757575;
}

.buttons {
    margin-top: 3.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttons button {
    font-size: large;
    font-weight: bold;
    padding: 16px 32px;
    color: #f0f0f0;
    border: 2px solid blue;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.075s ease, border-color 0.075s ease, transform 0.075s ease;
}

.buttons button.convertbutton {
    background-color: blue;
}

.buttons button.convertbutton:hover {
    background-color: darkblue;
    border-color: darkblue;
    transform: scale(1.05);
}

.buttons button.startwrittingbutton {
    background-color: #f0f0f0;
    color: blue;
    border-color: blue;
}

.buttons button.startwrittingbutton:hover {
    transform: scale(1.05);
}

.herofooter h4 {
    margin-top: 15px;
}

.herofooter h4 a {
    color: grey;
    text-decoration: none;
    transition: color 0.3s ease;
}

.herofooter h4 a:hover {
    text-decoration: underline;
    color: black;
}